# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Log files
*.log
logs/

# Temporary files
*.tmp
*.bak
*.swp
*~

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
.settings/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# OS specific files
.DS_Store # macOS
Thumbs.db # Windows